@using ExpenseTrackerCoreMVC.ViewModels

@model ExpenseAddEditFormViewModel

<div class="container">
    <h2>Update Expense</h2>
    <a class="btn btn-secondary mb-3" asp-action="Index" asp-controller="Expenses">Back</a>
    <form asp-action="Update" method="post">
        <div class="d-none">
            <label asp-for="Expense.Id" class="form-label"></label>
            <input asp-for="Expense.Id" class="form-control" readonly />
        </div>
        <div>
            <label asp-for="Expense.Name" class="form-label"></label>
            <input asp-for="Expense.Name" class="form-control" />
        </div>
        <div>
            <label asp-for="Expense.Amount" class="form-label"></label>
            <input asp-for="Expense.Amount" class="form-control" />
        </div>
        <div>
            <label asp-for="Expense.CategoryId" class="form-label"></label>
            @Html.DropDownListFor(model => model.Expense.CategoryId,
                        new SelectList(Model.Categories, "Id", "Name"),
                        "Select Category",
                        new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update Expense</button>
    </form>
</div>


