@model IEnumerable<ExpenseTrackerCoreMVC.Models.Category>
<div>
    <h2>Categories</h2>
    <a class="btn btn-primary mb-3" asp-action="Create" asp-controller="Categories">Add</a>
    <a class="btn btn-primary mb-3" asp-action="Index" asp-controller="Home">Back</a>
</div>
