@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-secondary mb-3" asp-action="Index" asp-controller="Expenses">Expenses</a>
    <a class="btn btn-secondary mb-3" asp-action="Index" asp-controller="Categories">Categories</a>
</div>
<div>
    <canvas style="max-width: 450px; max-height:450px;" id="chartPie"></canvas>
</div>

<canvas style="max-width: 900px; max-height:450px;" id="chartLine"></canvas>
<canvas style="max-width: 900px; max-height:450px;" id="chartBar"></canvas>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('chartPie');

    fetch('/Expenses/GetExpensesGroupedByCategory')
        .then(response => response.json())
        .then(data => {
            new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: data.map(d =>d.categoryName),
                    datasets: [{
                      label: 'Expenses Per Category',
                      data: data.map(d => d.totalAmount),
                    }]
                  },

            });

        })

</script>

<script>
    const lineChart = document.getElementById('chartLine');

    fetch('/Expenses/GetExpensesSumByDate')
        .then(response => response.json())
        .then(data => {
            new Chart(lineChart, {
                  type: 'line',
                  data: {
                    labels: data.map(d =>d.dateAdded),
                    datasets: [{
                        label: 'Expenses Over Time',
                      data: data.map(d => d.totalAmount),
                    }],
                  },

            });

        })
</script>

<script>
    const barChart = document.getElementById('chartBar');

    fetch('/Expenses/GetAvgExpensesByCategory')
        .then(response => response.json())
        .then(data => {
            new Chart(barChart, {
                  type: 'bar',
                  data: {
                    labels: data.map(d =>d.categoryName),
                    datasets: [{
                            label: 'Average Expense per Category',
                            data: data.map(d => d.averageAmount),
                            backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(255, 159, 64, 0.2)',
                              'rgba(255, 205, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(201, 203, 207, 0.2)'
                            ],
                            borderWidth: 1
                    }],
                  },

            });

        })
</script>
